.button {
    padding: 20px;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    width: 250px;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#easy {
    position: absolute;
    top: 45%;
    right: 78%;
    background-color: gold;
}

#medium {
    background-color: orange;
    position: absolute;
    top: 45%;
    right: 42%;

}

#hard {
    background-color: crimson;
    position: absolute;
    top: 45%;
    right: 5%;
}

#easy:hover {
    background-color: goldenrod;
}

#medium:hover {
    background-color: darkorange;
}

#hard:hover {
    background-color: firebrick;
}

.choose {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-top: 200px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 150px;
}

#loggingout {
    background-color: #007bff;
}

#profile {
    background-color:orange;
}

#go_home {
    background-color:darkgreen;
}
#start {
    background-color: darkorchid;
}